* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary: #ffffff;
  --background: #030922;
  --dark-background: #02071b;
  --input-background: #091030;
  --road-map-icon: #6b81d9;
  --text-blue: #2499f9;
  --blue: #1457ed;
  --green: #50fc61;
  --red: #ff3333;
  --subdue-button: #021338fa;
}
